.practise {
  .icon-container {
    width: 10%;
    cursor: pointer;
  }
  .exercise {
    text-align: right;

    img {
      width: 60%;
    }
  }
}

.community {
  text-align: left;
  max-width: 700px;
  padding: 14px;
}

.sol-star {
  align-items: left;
}
